h1 {
    margin-top: 0;
}

.modalBox {
    padding: 1.5rem;
}

.closeButton {
    display: flex !important;
    justify-content: right;
    border: none !important;
    color: red;
}

.addAccount {
    display: flex;
    justify-content: right;
}