h2 {
    color: #7D4CDB;
}

.icons {
    margin-left: 1rem;
}

.card {
    padding: 1rem;
    border-radius: 5px;
    min-height: 2rem;
    margin-bottom: 1rem;
}

.accounts {
    display: flex;
    justify-content: space-between;
}

.items {
    margin-top: 1rem;
}

.title {
    font-weight: bold;
}