h1 {
    margin-top: 0;
}

button {
    color: #eee !important;
}

.modalBox {
    padding: 1.5rem;
    background-color: #333333 !important;
    color: #eee !important;
}

.closeButton {
    display: flex !important;
    justify-content: right;
    border: none !important;
}

.closeButton svg path {
    stroke: red !important;
}