.backgroundSideBar {
    background-color: #333333;
    width: 20%;
    height: 100%;
    position: absolute;

}

.buttonContainer {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.button {
    border-radius: 0 !important;
    border-color: transparent !important;
    color: #eee !important;
    margin-bottom: 1rem !important;
}

.button:hover {
    border-color: transparent !important;
    box-shadow: 0 0 0 !important;
}